/* * {
    box-sizing: border-box;
}


.main-nav{

}
.main-header{

}

ul{

}

li{

}



.meme-continer{

} */



/* * {
    box-sizing: border-box;
}

html {
    color: var(--clr2);
    font-family: playfair, serif;
    line-height: 1.5;
}

body {
    font-size: 0.875rem;
    margin: 0;
}

img {
    width: 100%;
}
 */

canvas {
    display: block;
    margin:auto;
    border: 1px solid black;
}




 .canvas-container {
    
    margin: auto;
    width: 90vh;
    height: 90vh;
 }
