.main-header {
 height: 160px;   
 background-color: #1e1e1e;;
}

ul {
    display: grid;
    grid-auto-flow: column;
    gap: 100px;
}

a {
    text-shadow: 0 1px 0 #1e1e1e;
    color: #ffffff;
}

.green-a  {
    color: #58c93a;
}

