.main-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 30px;
    background-color: orange;
    margin: 0.5rem 2rem;
}

/* galleray */
.meme-continer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}


/* meme pic and buttons  */
.meme-editor { 
    justify-content: center;
    flex-direction: row;  
    gap: 0.5em;
    margin-top: 1rem;
}

/* meme pic */
.canvas-container {
    margin-right: 2rem
}

/* meme buttons */
.editor-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.stickers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.editor-btns > *{
   font-size: 2em;
    background-color: transparent;
    border-radius: 1.5rem;
    width: 25rem;
    height: 2rem;
}

.stickers > * {
    font-size: 1em;
    width: 25rem;
    height: 2rem;
    font-size: em;
    background-color: transparent;
    border-radius: 1.5rem;
}

.reg-btn {
    font-size: 1rem;
    margin: 0.4rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}

.meme-editor .editor-btns>* {
    margin: 0.8rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}