.meme-continer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

 .meme-editor {
    justify-content: center;
    flex-direction: row;  
    gap: 0.5em;
}

.editor-btns {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    
    
}

.stickers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.editor-btns > *{
   font-size: 2em;
    background-color: transparent;
    border-radius: 1.5rem;
    width: 25rem;
    height: 2rem;
}

.stickers > * {
    font-size: 1em;
    width: 25rem;
    height: 2rem;
    font-size: em;
    background-color: transparent;
    border-radius: 1.5rem;
}